<select
  <% if(autofocus) { %>autofocus<% } %>
  <% if(disabled) { %>disabled<% } %>
  <% if(multiple) { %>multiple<% } %>
  <% if(required) { %>required<% } %>
  <% if(form) { %>form="<%= form %>"<% } %>
  <% if(name) { %>name="<%= name %>"<% } %>
  <% if(size) { %>size="<%= size %>"<% } %>
  <% if(onchange) { %>onchange="<%= onchange %>"<% } %>
  <% if(onmousedown) { %>onmousedown="<%= onmousedown %>"<% } %>
  <% if(onmousemove) { %>onmousemove="<%= onmousemove %>"<% } %>
  <% if(onmouseout) { %>onmouseout="<%= onmouseout %>"<% } %>
  <% if(onmouseover) { %>onmouseover="<%= onmouseover %>"<% } %>
  <% if(onmouseup) { %>onmouseup="<%= onmouseup %>"<% } %>
  <% if(onwheel) { %>onwheel="<%= onwheel %>"<% } %>
  <% if(onblur) { %>onblur="<%= onblur %>"<% } %>
  <% if(oncontextmenu) { %>oncontextmenu="<%= oncontextmenu %>"<% } %>
  <% if(onfocus) { %>onfocus="<%= onfocus %>"<% } %>
  <% if(oninput) { %>oninput="<%= oninput %>"<% } %>
  <% if(oninvalid) { %>oninvalid="<%= oninvalid %>"<% } %>
  <% if(onreset) { %>onreset="<%= onreset %>"<% } %>
  <% if(onsearch) { %>onsearch="<%= onsearch %>"<% } %>
  <% if(onselect) { %>onselect="<%= onselect %>"<% } %>
  <% if(onsubmit) { %>onsubmit="<%= onsubmit %>"<% } %>
  <% if(onkeydown) { %>onkeydown="<%= onkeydown %>"<% } %>
  <% if(onkeypres) { %>onkeypres="<%= onkeypres %>"<% } %>
  <% if(onkeyup) { %>onkeyup="<%= onkeyup %>"<% } %>
  >
  <% for(var idx in data) { %>
    <option
    <% if(data[idx].disabled) { %>disabled<% } %>
    <% if(data[idx].selected) { %>selected<% } %>
    <% if(data[idx].label) {%>
      label="<%= data[idx].label %>"
      <% if(!data[idx].value) { %>value="<%= data[idx].label %>"<% } %>
    <% } %>
    <% if(data[idx].value) {%>
      value="<%= data[idx].value %>"
      <% if(!data[idx].label) { %>label="<%= data[idx].value %>"<% } %>
    <% } %>
    >
      <% if(data[idx].label) { %>
        <%= data[idx].label %>
      <% } else if(data[idx].value) { %>
        <%= data[idx].value %>
      <% } else { %>
        <%= data[idx] %>
      <% } %>
    </option>
  <% } %>
</select>
